---
import PageLayout from "@/layouts/Base";
import { Image } from "@astrojs/image/components";
import meImg from "../assets/me.jpg";

const meta = {
	title: "About",
	description: "I'm a starter theme for Astro",
};
---

<PageLayout meta={meta}>
	<div class="space-y-6">
		<h1 class="title">Who am i?</h1>
		<p>My name is Lautaro Damore and i am a software developer. I consider myself an autonomous person who is always looking to learn new areas and techniques. I feel involved with the software crafter movement, which emphasizes professionalism, quality and technical excellence.</p>
		<p>At the moment I am working and learning in the company "Proyecto 404" following the agile culture (specifically Extreme Programing). With practices like pair/mob programming, continous delivery, TDD, refactoring, clean code and simple desing. It's a path that I'm just starting to walk and there is still a lot to learn.</p>
		<p>I have more than 3 years of experience working with tools and languages such as: Kotlin, Java, JavaScript/TypeScript, NodeJS, React, React Native, Docker, Kubernetes, AWS, GitHub Actions, GitLab CI, Terraform.</p>	
		<div class="flex justify-center">
			<Image src={meImg} width={480} alt="A cartoon cactus looking at 'Astro.build' logo"
			/>
		</div>
		<h1 class="title">Why i make this site?</h1>
		<ul class="list-disc list-inside">
			<li>To share experiences and knowledge with other people with similar problems and interests</li>
			<li>Is a perfect tool to remember certain learned topics and motivate me to learn others</li>
			<li>It is a good way to become known and meet new people in the world of software development</li>
			<li>It is a good way to practice english 😂 (Im a spanish native speaker)</li>
		</ul>
	</div>
</PageLayout>
