---
import PageLayout from "@/layouts/Base";
import BlogPostPreview from "@/components/BlogPostPreview";
import SocialList from "@/components/SocialList";
import { sortMDByDate } from "@/util";
import type { Post } from "@/types";
import Technologies from "@/components/Technologies";
import Practices from "@/components/Practices";

const meta = {
	title: "Damo's Blog",
	description: "A software developer blog.",
};

const MAX_POSTS = 10;
const allPosts = await Astro.glob<Post>("./posts/*.mdx");
const allPostsByDate = sortMDByDate(allPosts).slice(0, MAX_POSTS);
---

<PageLayout meta={meta}>
	<section>
		<h1 class="mb-6 title">Hi folks!</h1>
		<p class="mb-4">
			My name is Lautaro Damore, im a software developer based in Argentina.
			This will be my blog where i will post tutorials and things talking about software fundamentals,
			culture and best practices.
		</p>
		<SocialList />
	</section>
	<section aria-label="Blog post list" class="mt-16">
		<h2 class="mb-4 text-xl title">Posts</h2>
		<ul class="space-y-4 sm:space-y-2">
			{
				allPostsByDate.map((p) => (
					<li class="flex flex-wrap items-center gap-x-2 [&_q]:w-full">
						<BlogPostPreview post={p} as="h2" />
					</li>
				))
			}
		</ul>
	</section>
	<Technologies />
	<Practices />
</PageLayout>
