<section class="mt-16">
	<h2 class="mb-4 text-xl title">Practices & Culture</h2>
	<ul class="list-disc list-inside">
		<li>TDD</li>
		<li>Refactoring</li>
		<li>Simple Desing</li>
		<li>Continuos Delivery</li>
		<li>OOP</li>
		<li>DDD</li>
	</ul>
</section>