<section class="mt-16">
	<h2 class="mb-4 text-xl title">Technologies</h2>
	<ul class="list-disc list-inside">
		<li>
			Front-End: <p class="inline-block sm:mt-2">JavaScript/TypeScript, React, React-Native, NextJS.</p>
		</li>
		<li>
			Back-End: <p class="inline-block sm:mt-2">Kotlin, Java, NodeJS.</p>
		</li>
		<li>
			Devops: <p class="inline-block sm:mt-2">Docker, Kubernetes, Terraform, GitHub Actions, GitLab CI.</p>
		</li>
		<li>
			Cloud: <p class="inline-block sm:mt-2">Amazon Web Services.</p>
		</li>
	</ul>
</section>